<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <title>Login</title>
        </head>
        <body>
            <fieldset>
                <form action="/signup" method="post">
                    <label>UserName: </label><input type="text" id="user" name="user"><br><br>
                    <label>Password: </label><input type="text" id="pass" name="pass">
                </form>
            </fieldset>
        </body>